<html>
<head>
<link rel="stylesheet" type="text/css" href="website_style.css">
</head>
<body>

<div id="header">
 <li id="site_name">* Masters of MTL *</li>
</div>

<div id="home">
 <h1>DEMO OF THE RAILVISION PROJECT<p>Used languages: Python, Java</p></h1>
 <p>In this project, we created an algorithm that analyzes different constraints that a 3-station train model has and creates the most optimal schedule for the model.</p>
  <p>The most optimal schedule is for the least average waiting time for all the passengers from 7 AM to 10 AM</p>

</div>

<div id="about">
 <p>In this tutorial we will show you how to create One Page Website Template Using HTML, CSS And jQuery.Now you can build simple and beautiful website quickly.</p>
 <p>TalkersCode.com is a complete destination to learn Web Development with Best, Fast and Easy Methods for those who is a novice and wants to be the Xpert in Web Development.</p>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. </p>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus quam quis nibh fringilla sit amet consectetur lectus malesuada. Sed nec libero erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mi nisi, rhoncus ut vestibulum ac, sollicitudin quis lorem. </p>
</div>

</body>
</html>