body
{
 margin:0px auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#A9D0F5;
}
#header
{
 width:100%;
 margin:0px auto;
 padding:0px;
 text-align:center;
 height:70px;
 line-height:70px;
}
#header li
{
 display:inline-block;
 margin-right:25px;
 font-size:17px;
 color:#084B8A;
 font-weight:bold;
 cursor:pointer;
}
#header #site_name
{
 text-align:center;
 width:680px;
 font-size:35px;
 box-sizing:border-box;
 background-color:#084B8A;
 margin-left:10px;
 color:white;
}
#home,#about,#contact
{
 margin-top:100px;
 width:90%;
 height:400px;
 margin-left:5%;
 padding:50px;
 box-sizing:border-box;
 background-color:#084B8A;
 border-radius:10px;
 color:white;
}
#home h1
{
 font-size:40px;
}
#home p
{
 font-size:20px;
}
